@use "../variables";

@mixin size-sm($is-data-modifier: variables.$is-data-modifier) {
  &_size-sm {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-size="sm"]) {
      @content;
    }
  }
}
