@use "../variables";

@mixin size-xxl($is-class-modifier: variables.$is-class-modifier-size, $is-data-modifier: variables.$is-data-modifier-size) {
  @if $is-class-modifier {
    &_size-xxl {
      @content;
    }
  }

  @if $is-data-modifier {
    &:is([data-modifier-size="xxl"]) {
      @content;
    }
  }
}
