@use "../variables";

@mixin size-xl($is-data-modifier: variables.$is-data-modifier) {
  &_size-xl {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-size="xl"]) {
      @content;
    }
  }
}
