@use "../variables";

@mixin size-base($is-data-modifier: variables.$is-data-modifier-size) {
  &_size-base {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-size="base"]) {
      @content;
    }
  }
}
