@use "../variables";

@mixin size-base($is-class-modifier: variables.$is-class-modifier-size, $is-data-modifier: variables.$is-data-modifier-size) {
  @if $is-class-modifier {
    @include class-size-base {
      @content;
    }
  }

  @if $is-data-modifier {
    @include data-size-base {
      @content;
    }
  }
}

@mixin class-size-base {
  &_size-base {
    @content;
  }
}

@mixin data-size-base {
  &:is([data-modifier-size="base"]) {
    @content;
  }
}
