@use "../variables";

@mixin size-lg($is-class-modifier: variables.$is-class-modifier-size, $is-data-modifier: variables.$is-data-modifier-size) {
  @if $is-class-modifier {
    &_size-lg {
      @content;
    }
  }

  @if $is-data-modifier {
    &:is([data-modifier-size="lg"]) {
      @content;
    }
  }
}
