@use "../variables";

@mixin size-md($is-class-modifier: variables.$is-class-modifier-size, $is-data-modifier: variables.$is-data-modifier-size) {
  @if $is-class-modifier {
    &_size-md {
      @content;
    }
  }

  @if $is-data-modifier {
    &:is([data-modifier-size="md"]) {
      @content;
    }
  }
}
