@use "../variables";

@mixin size-xs($is-data-modifier: variables.$is-data-modifier) {
  &_size-xs {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-size="xs"]) {
      @content;
    }
  }
}
