@use "../variables";

@mixin size-md($is-data-modifier: variables.$is-data-modifier-size) {
  &_size-md {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-size="md"]) {
      @content;
    }
  }
}
