@use "../variables";

@mixin size-lg($is-class-modifier: variables.$is-class-modifier-size, $is-data-modifier: variables.$is-data-modifier-size) {
  @if $is-class-modifier {
    @include class-size-lg {
      @content;
    }
  }

  @if $is-data-modifier {
    @include data-size-lg {
      @content;
    }
  }
}

@mixin class-size-lg {
  &_size-lg {
    @content;
  }
}

@mixin data-size-lg {
  &:is([data-modifier-size="lg"]) {
    @content;
  }
}
