@use "../variables";

@mixin size-xl($is-class-modifier: variables.$is-class-modifier-size, $is-data-modifier: variables.$is-data-modifier-size) {
  @if $is-class-modifier {
    &_size-xl {
      @content;
    }
  }

  @if $is-data-modifier {
    &:is([data-modifier-size="xl"]) {
      @content;
    }
  }
}
