@use "../variables";

@mixin size-lg($is-data-modifier: variables.$is-data-modifier-size) {
  &_size-lg {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-size="lg"]) {
      @content;
    }
  }
}
