@use "../variables";

@mixin size-sm($is-class-modifier: variables.$is-class-modifier-size, $is-data-modifier: variables.$is-data-modifier-size) {
  @if $is-class-modifier {
    @include class-size-sm {
      @content;
    }
  }

  @if $is-data-modifier {
    @include data-size-sm {
      @content;
    }
  }
}

@mixin class-size-sm {
  &_size-sm {
    @content;
  }
}

@mixin data-size-sm {
  &:is([data-modifier-size="sm"]) {
    @content;
  }
}
