@use "../variables";

@mixin size-xxl($is-class-modifier: variables.$is-class-modifier-size, $is-data-modifier: variables.$is-data-modifier-size) {
  @if $is-class-modifier {
    @include class-size-xxl {
      @content;
    }
  }

  @if $is-data-modifier {
    @include data-size-xxl {
      @content;
    }
  }
}

@mixin class-size-xxl {
  &_size-xxl {
    @content;
  }
}

@mixin data-size-xxl {
  &:is([data-modifier-size="xxl"]) {
    @content;
  }
}
