@use "../variables";

@mixin size-xxl($is-data-modifier: variables.$is-data-modifier) {
  &_size-xxl {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-size="xxl"]) {
      @content;
    }
  }
}
