@use "../variables";

@mixin rounded-xl($is-data-modifier: variables.$is-data-modifier) {
  &_rounded-xl {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-rounded="xl"]) {
      @content;
    }
  }
}
