@use "../variables";

@mixin rounded-base($is-data-modifier: variables.$is-data-modifier) {
  &_rounded-base {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-rounded="base"]) {
      @content;
    }
  }
}
