@use "../variables";

@mixin rounded-sm($is-data-modifier: variables.$is-data-modifier) {
  &_rounded-sm {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-rounded="sm"]) {
      @content;
    }
  }
}
