@use "../variables";

@mixin rounded-xs($is-data-modifier: variables.$is-data-modifier-rounded) {
  &_rounded-xs {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-rounded="xs"]) {
      @content;
    }
  }
}
