@use "../variables";

@mixin rounded-md($is-class-modifier: variables.$is-class-modifier-rounded, $is-data-modifier: variables.$is-data-modifier-rounded) {
  @if $is-class-modifier {
    @include class-rounded-md {
      @content;
    }
  }

  @if $is-data-modifier {
    @include data-rounded-md {
      @content;
    }
  }
}

@mixin class-rounded-md {
  &_rounded-md {
    @content;
  }
}

@mixin data-rounded-md {
  &:is([data-modifier-rounded="md"]) {
    @content;
  }
}
