@use "../variables";

@mixin rounded-none($is-class-modifier: variables.$is-class-modifier-rounded, $is-data-modifier: variables.$is-data-modifier-rounded) {
  @if $is-class-modifier {
    &_rounded-none {
      @content;
    }
  }

  @if $is-data-modifier {
    &:is([data-modifier-rounded="none"]) {
      @content;
    }
  }
}
