@use "../variables";

@mixin rounded-xl($is-class-modifier: variables.$is-class-modifier-rounded, $is-data-modifier: variables.$is-data-modifier-rounded) {
  @if $is-class-modifier {
    @include class-rounded-xl {
      @content;
    }
  }

  @if $is-data-modifier {
    @include data-rounded-xl {
      @content;
    }
  }
}

@mixin class-rounded-xl {
  &_rounded-xl {
    @content;
  }
}

@mixin data-rounded-xl {
  &:is([data-modifier-rounded="xl"]) {
    @content;
  }
}
