@use "../variables";

@mixin rounded-xxl($is-data-modifier: variables.$is-data-modifier-rounded) {
  &_rounded-xxl {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-rounded="xxl"]) {
      @content;
    }
  }
}
