@use "../variables";

@mixin rounded-md($is-data-modifier: variables.$is-data-modifier) {
  &_rounded-md {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-rounded="md"]) {
      @content;
    }
  }
}
