@use "../variables";

@mixin rounded-auto($is-class-modifier: variables.$is-class-modifier-rounded, $is-data-modifier: variables.$is-data-modifier-rounded) {
  @if $is-class-modifier {
    @include class-rounded-auto {
      @content;
    }
  }

  @if $is-data-modifier {
    @include data-rounded-auto {
      @content;
    }
  }
}

@mixin class-rounded-auto {
  &_rounded-auto {
    @content;
  }
}

@mixin data-rounded-auto {
  &:is([data-modifier-rounded="auto"]) {
    @content;
  }
}
