@use "../variables";

@mixin rounded-lg($is-data-modifier: variables.$is-data-modifier-rounded) {
  &_rounded-lg {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-rounded="lg"]) {
      @content;
    }
  }
}
