@use "../variables";

@mixin rounded-auto($is-data-modifier: variables.$is-data-modifier-rounded) {
  &_rounded-auto {
    @content;
  }

  @if $is-data-modifier {
    &:is([data-modifier-rounded="auto"]) {
      @content;
    }
  }
}
