@use "../variables";

@mixin rounded-none($is-class-modifier: variables.$is-class-modifier-rounded, $is-data-modifier: variables.$is-data-modifier-rounded) {
  @if $is-class-modifier {
    @include class-rounded-none {
      @content;
    }
  }

  @if $is-data-modifier {
    @include data-rounded-none {
      @content;
    }
  }
}

@mixin class-rounded-none {
  &_rounded-none {
    @content;
  }
}

@mixin data-rounded-none {
  &:is([data-modifier-rounded="none"]) {
    @content;
  }
}
