@use "../variables";

@mixin rounded-sm($is-class-modifier: variables.$is-class-modifier-rounded, $is-data-modifier: variables.$is-data-modifier-rounded) {
  @if $is-class-modifier {
    @include class-rounded-sm {
      @content;
    }
  }

  @if $is-data-modifier {
    @include data-rounded-sm {
      @content;
    }
  }
}

@mixin class-rounded-sm {
  &_rounded-sm {
    @content;
  }
}

@mixin data-rounded-sm {
  &:is([data-modifier-rounded="sm"]) {
    @content;
  }
}
