@use "../variables";

@mixin type-default($is-class-modifier: variables.$is-class-modifier-type, $is-data-modifier: variables.$is-data-modifier-type) {
  @if $is-class-modifier {
    @include class-type-default {
      @content;
    }
  }

  @if $is-data-modifier {
    @include data-type-default {
      @content;
    }
  }
}

@mixin class-type-default {
  &_type-default {
    @content;
  }
}

@mixin data-type-default {
  &:is([data-modifier-type="default"]) {
    @content;
  }
}
